body{
	margin:0;
	overflow-x: hidden;
	background-image:linear-gradient(to right , rgb(0, 111, 175), rgb(0, 167, 167), rgb(0, 175, 117), rgb(0, 165, 55) , rgb(15, 182, 0));
	background-size: 900%;
	background-position: left;
	animation: headanime 10s linear infinite alternate;
}
#pswdcont{
	display: flex;
	align-items: center;
	justify-content: center;
	height:100vh;
	width: 100vw;
}
#pswdbox{
	width:70vw;
	background-color:rgba(0, 0, 0, 0.5);
	border:5px solid black;
	border-radius:10px;
	height:6vh;
	text-align:center;
	padding-top:5vh;
	padding-bottom:5vh;
	font-size:3vw;
}
#MainWeb{
	display: none;
}
#pswd{
	font-size:2vw;
	}
#main{
	height:100vh;
	scroll-snap-type:y mandatory;
	margin:0;
	width: 100vw;
	overflow-x: scroll;
}
.page{
	display: flex;
	width:100vw;
	height:100vh;
	align-items: center;
	justify-content: center;
	scroll-snap-align:start;
}
.a{	
	background-image:linear-gradient(to right , rgb(0, 111, 175), rgb(0, 167, 167), rgb(0, 175, 117), rgb(0, 165, 55) , rgb(15, 182, 0));
	background-repeat: no-repeat;
	background-size: 300%;
	background-position: left;
	animation: headanime 10s linear infinite alternate;
}
.b{ 
	background-image:linear-gradient(to right , rgb(172, 0, 100), rgb(141, 0, 146), rgb(161, 0, 175), rgb(121, 0, 158) , rgb(95, 0, 158));
	background-repeat: no-repeat;
	background-size: 300%;
	background-position: left;
	animation: headanime 10s linear infinite alternate;
}
.c{	background:rgb(0, 68, 31);}
.d{	background:rgb(0, 98, 105);}
.title-cont{
	display: grid;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height:calc(100px + 5vh);
	background-image: linear-gradient(to bottom,rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0));
	background-repeat: no-repeat;
}
header{
	position: fixed;
	z-index: 1;
}
@keyframes headanime {
	to{background-position: right;}
	
}
h1{
	font-family:garamond,'Times New Roman', Times, serif;
	background-image: linear-gradient(to right,pink, rgb(223, 154, 255), violet, rgb(154, 117, 255) , rgb(102, 224, 255));
	background-repeat: no-repeat;
	background-size: 800px;
	background-position: left;
	background-clip: text;
	font-size: 50px;
	color:transparent;
	-webkit-background-clip: text;
	animation: headanime 7s linear infinite alternate;
}
.cir{
	height:calc(200px + 15vw);
	width:calc(200px + 15vw);
	border-radius:50%;
	background-color: aliceblue;
	z-index: 0;
	display: grid;
	justify-content: center;
	align-items: center;
	place-content: center;
	gap:1vw;
	border: 3px solid black;
}
.story-name{
	font-family: 'Courier New', Courier, monospace;
	color: rgb(43, 138, 221);
	text-align: center;
	font-size: calc(13px + 1.5vw);
	margin: 0;
	padding-top: 20px;
}
@keyframes lineWidth{
	to{width:200px}
}
.line{
	width:160px;
	height: 3px;
	border:0;
	background-color: rgb(0, 0, 0);
	border-radius: 10px;
	animation: lineWidth 1s linear 1 forwards;
}
.description{
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	color: black;
	font-size: calc(9px + 0.4vw);
}
.button-cont{
	height:30px;
	display: inline-block;
	text-decoration: none;
	color:black;
	text-align: center;
	padding: 5px 0px;
}
.button{
	padding: 3px 7px;
	border:2px solid black;
	border-radius:20px;
	text-decoration: none;
	color:black;
	font-size: calc(10px + 0.5vw);
}
/* .button:hover{
	outline-offset: 2px;
	transition: outline-offset 200ms;
} */
::-webkit-scrollbar{
	width: 10px;
}
::-webkit-scrollbar-thumb{
	background-color: rgba(0, 0, 0, 0.7);
}
::-webkit-scrollbar-track{
	background-color: rgba(0, 0, 0, 0);

}

@media only screen and (max-width:400px) {
	header{
		height:130px;
	}
	h1{
		font-size: calc(20px + 4vw);
	}
	.a h3{
		font-family: 'Courier New', Courier, monospace;
		color: rgb(43, 138, 221);
		text-align: center;
		font-size: 20px;
	}
	.line{
		width:100px;
		height: 3px;
		border:0;
		background-color: rgb(0, 0, 0);
		border-radius: 10px;
		animation: lineWidth 1s linear 1 forwards;
	}
	.description{
		text-align: center;
		font-family: 'Courier New', Courier, monospace;
		color: black;
		font-size: 10px;
	}
	.b h3{
		font-family: 'Courier New', Courier, monospace;
		color: rgb(43, 138, 221);
		text-align: center;
	}
	::-webkit-scrollbar{
		display: none;
	}
	@keyframes lineWidth{
		to{width:150px;}
	}
	#pswdbox{
		text-align: center;
		height:90px;
		width:100vw;
		background-color:rgba(0, 0, 0, 0.5);
		display: flex;
		align-items: center;
		justify-content: center;
		border:2px solid #000;
		margin:0 5px;
	}
	#pswd{
		height:20px;
		width:calc(70px + 10vw);
	}
	.sub{
		border: none;
		background-image: linear-gradient(to right , rgb(0, 111, 175), rgb(0, 167, 167), rgb(0, 175, 117), rgb(0, 165, 55) , rgb(15, 182, 0));;
		background-position: left;
		background-size: 300%;
		animation: headanime 7s linear infinite alternate;
		height:19px;
		border:0.5px solid #000;
	}
	#dis{
		display: block;
	}
	::-webkit-scrollbar{
		display: none;
	}
}	